body {
    background-image: linear-gradient(#292d33, #292d33);
  }

  h2 {
    color: white;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .box {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 1.5%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  /* .box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  } */

  .box img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .box h3 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .box p {
    margin-bottom: 0;
    font-size: 18px;
    color: gray;
  }